.containerOption {
    width: 20rem;
    height: 15rem;
    margin: 30px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; 
    cursor: pointer;
    box-shadow: 0 3px 13px 6px rgb(0 0 0 / 10%);
    transition: .2s ease;
  }

.containerOption:hover{
  transform: scale(1.1);
  }
  
  .iconOption {
    height: 20%;
    padding-left: 1%;
    width: auto;
    padding-bottom: 105px;
    padding-left: 1rem
  }

  
  .containerTxtOption {
    text-align: justify;
    padding: 40px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
  }
  
  .nameOption {
    font-size: 1rem;
    margin-bottom: 45px;
    margin-right: 1px;
    text-align: justify;
  }

  
  .descriptionOption {
    margin-left: -40px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1rem;
  }