.containerOption {
    width: 35rem;
    height: 25rem;
    margin: 30px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; 
    cursor: pointer;
    box-shadow: 0 3px 13px 6px rgb(0 0 0 / 10%);
    transition: .2s ease;
  }

.containerOption:hover{
  transform: scale(1.1);
  }
  
  .iconOption {
    height: 20%;
    width: auto;
    position: relative;
    bottom: 5rem;
    left: 2rem;

  }
  
  .nameOption {
    font-size: 1.8rem;
    text-align: center;
    font-weight: lighter;
    position: relative;
    bottom: 2rem;
    left: 0.2rem;
  }

  
  .descriptionOption {
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
    line-height: 2rem;
    position: relative;
    right: 2rem;
  }