.layout {
    grid-template-columns: 20% 80%;
    gap: 2rem;
}

.layoutMain {
    width: 100%;
    overflow-y: hidden;
    text-align: center;
    padding: 3rem 28rem;
    height: 100vh;
    overflow-y: scroll;
    
}

table {
    border-collapse: collapse;
}

tbody {
    margin: .5rem;
}

th,
tr,
td {
    width: 150px;
    height: 45px;
    vertical-align: middle;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
}

th {
    font-weight: 100;
    font-size: 14px;
    color: var(--black);
    background-color: var(--white);
}

tr:nth-child(odd) td {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
