.productDetail {
    margin-top: 2rem;
    width: 90%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 2px 2px 2px 1px rgba(66, 66, 66, 0.253);
}

.orderDetails {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    gap: 4rem;
}

.pd {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    padding: .5rem;
}

.pd h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.pd p {
    font-size: 1.4rem;
    font-weight: 300;
}

.btnExit {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.btnExit button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btnExit img{
    width: 1.5rem;
}