.cardProduct {
    background-color: var(--white);
    padding: 2rem;
    margin-top: 2rem;
    margin-right: 10rem;
    width: 32rem;
    
}

.formProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formProduct h1 {
    font-size: 1.8rem;
    font-weight: 500;
}

.formProduct input {
    border: none;
    outline: none;
    padding: .5rem;
    width: 18rem;
    font-size: 1.4rem;
}   

.inputProduct{
    border-bottom: 0.2rem solid black;
    width: 18rem;
    margin: 1.5rem;
}

select {
    margin: 1rem;
    background: #86858519;;
    border: none;
    font-size: 1.4rem;
    height: 3rem;
    padding: .5rem;
    width: 18rem;
    outline: none;
 }

 .btnCard input{
    margin-top: 12rem;
    width: 18rem;
    color: var(--white);
    background-color: var(--green);
    font-family: var(--poppins);
 }

 .cardInfoProducts {
    background-color: var(--white);
    padding: 2rem;
    margin-top: 2rem;
    width: 32rem;
}

.info{
    display: flex;
    justify-content:start;
}

label{
    width: 400px;
    text-align: start;
}


.quantity{
    color: var(--green);
    width:100%;
    text-align: end;
}


.checkColumn{
    width: 20%;
}

.tableTitle{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.generalCardProduct {
    background-color: var(--white);
    padding: 2rem;
    margin-top: 2rem;
    width: 89rem;
    display: flex;
    padding: 5rem;
    
}



