.cardProduct {
    background-color: var(--white);
    padding: 2rem;
    margin-top: 2rem;
    margin-right: 10rem;
    width: 32rem;
    margin:  0 auto;
    
}

.formProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formProduct h1 {
    font-size: 1.8rem;
    font-weight: 500;
}

.formProduct input {
    border: none;
    outline: none;
    padding: .5rem;
    font-size: 1.4rem;
    width: 100%;

}   


.inputProduct{
    border-bottom: 0.2rem solid black;
    width: 100%;
    margin: 1.5rem;
}

select {
    margin: 1rem;
    background: #86858519;;
    border: none;
    font-size: 1.4rem;
    height: 3rem;
    padding: .5rem;
    width: 18rem;
    outline: none;
 }

 .btnCard input{
    margin-top: 5rem;
    width: 18rem;
    color: var(--white);
    background-color: var(--green);
    font-family: var(--poppins);
    cursor: pointer;
    transition: .2s ease;
    text-transform: uppercase;
 }
 .btnCard input:hover{
    transform: scale(1.1);
 }

 .cardInfoProducts {
    background-color: var(--white);
    padding: 2rem;
    margin-top: 2rem;
    width: 32rem;
}

.info{
    display: flex;
    justify-content:start;
}

label{
    width: 400px;
    text-align: start;
}


.quantity{
    color: var(--green);
    width:100%;
    text-align: end;
}


.checkColumn{
    width: 20%;
}

.tableTitle{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.generalCardProduct {
    background-color: var(--white);
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    padding: 5rem;
    
}

.messageAction{
    padding: 1rem 4rem;
    background-color: var(--green);
    text-align: center;
    
}

.success{
    background-color: var(--green)
}
.error{
    background-color: rgb(255, 63, 63);
}
h1{
    text-transform: capitalize;
}