html {
    font-family: Poppins;
}

.container {
    display: flex;
    position: relative;
    height: 100vh;
}

/* left part of the login  */
.welcome {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0 130px;
    align-items: center;
    justify-content: space-between;
}

.headerLayout{
    display: flex;
    justify-content: center;
    align-content: center;
}
.headerLogin {
    margin-top: 34px;
    align-items: initial;
    color: #AAE400;
    border: 3px solid #AAE400;
    font-weight: 600;
    font-size: 35px;
    width: 50%;
    text-align: center;
}

.headerLogin p {
    margin: 0;
    padding: 20px 40px;
}

.welcomeText {
    margin: 0;
    font-size: 35px;
    padding-top: 70px;
}

.welcomeText span {
    font-weight: bold;
}

.welcomeParagraph {
    font-size: 25px;
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
}

.imgPizza {
    width: 90%;
}

.headerContent{
    text-align: center;
}

.headerContent p{
    color: black;
}