.layoutMasterPage {
    display: grid;
    grid-template-columns: 20% 80%;
}

.modals {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.274);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}