.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.228);
    display: flex;
    justify-content: center;

}

.cardOrderDetail {
    margin: 10rem;
    background-color: var(--white);
    width: 60rem;
    height: 50rem;
    box-shadow: 2px 2px 2px 1px rgba(66, 66, 66, 0.253);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.cardOrderDetail h2 {
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: .5rem;
    color: var(--grey);
}

.productDetail {
    display: flex;
    justify-content: center;
    gap: 5rem;
    box-shadow: 2px 2px 2px 1px rgba(66, 66, 66, 0.253);
}

.pd {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: .5rem;
}

.pd h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.pd p {
    font-size: 1.4rem;
    font-weight: 300;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btn button {
    margin-top: 2rem;
    width: 15rem;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
}