.mainContainer {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
}

.button button {
    border: none;
    background-color: var(--black);
    padding: 1rem;
    color: var(--white);
    font-size: 1.5rem;
    font-family: poppins;
    width: 25rem;
    margin-top: 3rem;
    cursor: pointer;
}