.card {
    background-color: var(--white);
    padding: 2rem;
    margin-top: 2rem;
    width: 30rem;
    
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h1 {
    font-size: 1.8rem;
    font-weight: 500;
}

.form input {
    border: none;
    outline: none;
    padding: .5rem;
    width: 25rem;
}   

.inputForm{
    border-bottom: 0.2rem solid black;
    margin: 2rem;
}
.btnCard{
    display:flex;
    flex-direction:column;
    gap: 1rem;
}
.btnCancel{
    width: 18rem;
    padding:.5rem;
    color: var(--white);
    background-color: var(--green);
    font-family: var(--poppins);
    cursor: pointer;
    border: none;
    background-color:rgb(255, 96, 96);
}

 .btnCard input{
    margin-top: 2rem;
    width: 18rem;
    color: var(--white);
    background-color: var(--green);
    font-family: var(--poppins);
    cursor: pointer;
 }

 select {
    margin: 1rem;
    background: #86858519;;
    border: none;
    font-size: 1.4rem;
    height: 3rem;
    padding: .5rem;
    width: 18rem;
    outline: none;
 }

 .errorMessage{
    margin-top: 1rem;
    background-color: rgba(255, 96, 96, 0.514);
    padding: .5rem;
    width:100%;
 }