.card {
    background-color: var(--white);
    padding: 2rem;
    margin-top: 2rem;
    width: 30rem;
    
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h1 {
    font-size: 1.8rem;
    font-weight: 500;
}

.form input {
    border: none;
    outline: none;
    padding: .5rem;
    width: 25rem;
}   

.inputForm{
    border-bottom: 0.2rem solid black;
    margin: 2rem;
}

 .btnCard input{
    margin-top: 2rem;
    width: 18rem;
    color: var(--white);
    background-color: var(--green);
    font-family: var(--poppins);
 }
