.layout {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 2rem;
}

.layoutMain {
    width: 95%;
    overflow-y: hidden;
    text-align: center;
    padding: 2rem 3rem;
    height: 100vh;
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
}

tbody {
    margin: .5rem;
}

th,
tr,
td {
    width: 150px;
    height: 45px;
    vertical-align: middle;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
}

th {
    font-weight: 100;
    font-size: 14px;
    color: var(--black);
    background-color: var(--white);
}

tr:nth-child(odd) td {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}


.btnCard {
    width: 20rem;
    color: var(--white);
    background-color: var(--green);
    font-family: var(--poppins);
    padding: 1rem;
    align-content: flex-end;
}

.btnCard button {
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
    transition: .2s ease;
    background-color:transparent;
    border: none;
    width:100%;
    cursor: pointer;
}

.btnCard p {
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
    transition: .2s ease;
}

.headerProduct {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardsContainer {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem;
    gap: 3rem;
    width: 100%;
    height: 30rem;
    background-color: var(--backColor);
}

.header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    width: 100%;
    align-items: flex-end;
    margin-left: 3.5rem;
}

.info a {
    font-weight: 400;
    color: gray;
    text-decoration: none;
    transition: .2s ease;
}

.info p {
    font-weight: 400;
    color: gray;
    text-decoration: none;
    transition: .2s ease;
}