.card {
    background-color: var(--white);
    box-shadow: 2px 2px 2px 1px rgba(66, 66, 66, 0.253);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .2s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card p {
    color: var(--grey);
    font-size: 1.5rem;
    text-align: end;

}

.card h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

.card h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.productInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}