@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font: 'Poppins', sans-serif;
    --green: #AAE400;
    --white: #FFFFFF;
    --black: #000000;
    --backColor: #F5F5F5;
    --grey: #777777;
}

html {
    font-family: var(--font);
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font);
    font-size: 16px;
    margin: 0;
    background-color: var(--backColor);
    overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
select,
option {
    margin: 0;
}

.layout {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 2rem;
}

.layout-main {
    width: 95%;
    /* height: 100vh; */
    overflow-y: hidden;
    text-align: center;
    padding: 2rem 3rem;
    height: 100vh;
    overflow-y: scroll;
}

.layout-menu {
    padding-top: 4rem;
    height: 100vh;
    color: var(--white);
    background-color: var(--black);
}

.layout-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
    padding: 3rem;
}

.layout-menu h2 {
    font-size: 20px;
    font-weight: 200;
}

.menu-top {
    margin: 3rem 0rem;
}

.menu-top img {
    margin: 3rem 0rem;
}

.menu-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
}

.menu-bottom a {
    font-weight: 200;
    color: var(--white);
    text-decoration: none;
    transition: .2s ease;
}

.menu-bottom a:hover {
    color: var(--green);
}

#selected_sidebar {
    color: var(--green);
}

.input-search {
    display: flex;
    align-items: center;
}

.input-search input {
    height: 4rem;
    border: none;
    color: var(--grey);
    padding-left: 40px;
    padding: .6rem;
    outline: none;
    font-family: var(--font);
    width: 28rem;
}

.input-search button {
    border: none;
    height: 70%;
    background-color: #ffffff00;

}

.input-search button img {
    width: 3rem;
}

.inputs-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
    "pr pr pr pr ct in in in in"
    "pr pr pr pr ct ls ls ls ls"
    "bt bt bt bt bt bt bt bt bt";
    /* grid-template-columns: 2; */
    /* grid-template-rows: 2; */
    margin-top: 2rem;
    /* gap: 1rem; */
    width: 100%;
    border:solid;
    border-color: rgb(234, 234, 234);
}


.card {
    padding: 3.5rem;
    background-color: var(--white);
    /* width: 90%; */
}

.card.card-container {
    grid-area: ct;
}

.card.product {
    grid-area: pr;
}

.card.product h2{
    color: var(--black)
}

.card.ingredients {
    grid-area: in;
}

.card.products-info {
    grid-area: ls;
}

.card.btn{
    grid-area: bt;
}

.card h2 {
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    /* float: left; */
}

.card input {
    font-size: 16px;
    font-family: var(--font);
}

.inputs-form input {
    border: none;
    outline: none;
    color: var(--grey);
    border-bottom: 1px solid var(--black);
}

.inputs-form option {
    font-family: var(--font);
    font-size: 15px;
}

.inputs-form [type="submit"] {
    height: 3.5rem;
    border: none;
    color: var(--white);
    background-color: var(--green);
    font-weight: 500;
}

select {
    width: 100%;
    border: none;
    outline: 0;
    background-color: whitesmoke;
    height: 3.5rem;
}

.users-status {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2rem;
    width: 100%;
    height: 32rem;
    padding-right: 5rem;
}

.users-section {
    background-color: var(--white);
    padding: 2rem 3rem;
}

.users-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
}

tbody {
    margin: .5rem;
}

th,
tr,
td {
    width: 150px;
    height: 45px;
    vertical-align: middle;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
}


th {
    font-weight: 100;
    font-size: 14px;
    color: var(--black);
    background-color: var(--white);
}

tr:nth-child(odd) td {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.products-info {
    background-color: var(--white);
    gap: 1rem;
    width: 100%;
    /* padding: 7rem; */
    display: grid;
    align-items: center;
}

.products-info div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.products-info div h3 {
    font-weight: 200;
    font-size: 16px;
    margin: .5rem;
    font-weight: 300;
}

.number {
    color: var(--green);
    display: block;
    text-align: right;
}

.info-name {
    display: block;
    text-align: left;
}

.btnAdd {
    margin-top: 100px;
    background-color: #AAE400;
    border-style: none;
    color: white;
    width: 15%;
    height: 55px;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
}

.ingredients-container{
    display: inline-block;
    padding: 24px;
    border-color: rgb(234, 234, 234);
    border-style: solid;
}

.card.ingredients h2{
    color: var(--grey);
}

.ingredientArea{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.ingredientArea label{
    padding: 0;
}