html {
    font-family: Poppins;
}

.container {
    display: flex;
    position: relative;
}

/* left part of the login  */
.welcome {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0 130px;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.headerLayout{
    display: flex;
    justify-content: center;
    align-content: center;
}
.headerLogin {
    margin-top: 34px;
    align-items: initial;
    color: #AAE400;
    border: 3px solid #AAE400;
    font-weight: 600;
    font-size: 35px;
    width: 50%;
    text-align: center;
}

.headerLogin p {
    margin: 0;
    padding: 20px 40px;
}

.welcomeText {
    margin: 0;
    font-size: 35px;
    padding-top: 70px;
}

.welcomeText span {
    font-weight: bold;
}

.welcomeParagraph {
    font-size: 25px;
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
}

.imgPizza {
    width: 100%;
}

.headerContent{
    text-align: center;
}

/* rigth part of the login */

.loginContainer {
    width: 40%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 50px 90px;
}

.loginInput {
    background-color: transparent;
    border-style: none;
    font-size: 30px;
    margin-top: 90px;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    width: 100%;
    padding: 1rem 0rem;
}

.btnLogIn {
    margin-top: 100px;
    background-color: #AAE400;
    border-style: none;
    color: white;
    width: 100%;
    height: 55px;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    transition: .2s ease;
}
.btnLogIn:hover{
    background-color: #8fbd03;
}

.btnSignUp {
    background-color: transparent;
    border-style: none;
    color: white;
    font-size: 25px;
    font-weight: lighter;
    height: 40px;
    text-decoration: underline;
    font-weight: 100;
    text-align: center;
    margin-top: 2rem;
}

.text {
    color: white;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    margin-top: 130px;
}
::-webkit-scrollbar {
    display: none;
}

.successMessage{
    width: 100%;
    padding: .3rem;
    border: 2px solid #AAE400;
    background-color:  #d0e496;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
.errorMessage{
    width: 100%;
    padding: .3rem;
    border: 2px solid #e40000;
    background-color:  #e49696;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e40000;
    font-weight: bold;
    font-size: 1.2rem;
}