html {
    font-family: Poppins;
}

.container {
    display: flex;
    position: relative;
}

/* left part of the login  */
.welcome {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0 130px;
    align-items: center;
}

.headerLogin {
    margin-top: 34px;
    align-items: initial;
    color: #AAE400;
    border: 3px solid #AAE400;
    font-weight: 600;
    font-size: 35px;
}

.headerLogin p {
    margin: 0;
    padding: 20px 40px;
}

.welcomeText {
    margin: 0;
    font-size: 35px;
    padding-top: 70px;
}

.welcomeText span {
    font-weight: bold;
}

.welcomeParagraph {
    font-size: 25px;
    padding-top: 40px;
    width: 80%;
}

.imgPizza {
    width: 100%;
}


/* rigth part of the login */

.loginContainer {
    width: 40%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 50px 90px;
}

.loginInput {
    background-color: transparent;
    border-style: none;
    border-bottom: 2px solid white;
    font-size: 30px;
    margin-top: 90px;
}

.btnLogIn {
    margin-top: 100px;
    background-color: #AAE400;
    border-style: none;
    color: white;
    width: 100%;
    height: 55px;
    font-size: 30px;
    font-weight: 400;
}

.btnSignUp {
    background-color: transparent;
    border-style: none;
    color: white;
    font-size: 25px;
    font-weight: lighter;
    height: 40px;
    text-decoration: underline;
    font-weight: 100;
}

.text {
    color: white;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    margin-top: 130px;
}
::-webkit-scrollbar {
    display: none;
}