.admin-index-QS3 {
    background-color: #f5f5f5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 4rem 7rem 16rem 7rem;
    position: relative;
    width: 100%;
}

.auto-group-8xz9-NnB {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 4rem;
    margin-bottom: 8.7rem;
    width: 100%;
}

.welcome-to-food-system-username-vaj {
    align-items: baseline;
    color: #000000;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0.1rem 47.1rem 0rem 0rem;
    white-space: nowrap;
}

.welcome-to-food-system-username-vaj-sub-0 {
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.5;
}

.welcome-to-food-system-username-vaj-sub-1 {
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
}

.welcome-to-food-system-username-vaj-sub-2 {
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.5;
}

.welcome-to-food-system-username-vaj-sub-3 {
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.5;
}

.logo-W55 {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.3rem #aae400;
    box-sizing: border-box;
    color: #aae400;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    width: 21rem;
}

.auto-group-ctbu-LZu {
    align-items: center;
    column-gap: 2.1rem;
    display: flex;
    flex-shrink: 0;
    height: 24rem;
    margin-bottom: 2.1rem;
    width: 100%;
}

.group-78-Fwm {
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.3rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    padding: 4.5rem 5.45rem 11.8rem 5.55rem;
    width: 31rem;
}

.group-36-B4j {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin: 0rem 1.35rem 4.2rem 0.85rem;
    width: calc(100%);
}

.vector-tUw {
    flex-shrink: 0;
    height: 3.5rem;
    margin-right: 1rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.5rem;
}

.order-management-QiB {
    color: #000000;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 1.55rem;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
}

.short-description-short-descriptionshort-description-jVZ {
    align-items: center;
    color: #000000;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 300;
    justify-content: center;
    line-height: 1.5;
    max-width: 30.8rem;
}

.group-80-nTq {
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.3rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    padding: 3.8rem 5.45rem 11.8rem 5.3rem;
    width: 31rem;
}

.group-33-i6b {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin: 0rem 0.05rem 4.9rem 0rem;
    width: calc(100% - 0.05rem);
}

.vector-eF9 {
    flex-shrink: 0;
    height: 3.5rem;
    margin-right: 1rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.5rem;
}

.product-management-n6T {
    color: #000000;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 1.55rem;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
}

.short-description-short-descriptionshort-description-VmZ {
    align-items: center;
    color: #000000;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 300;
    justify-content: center;
    line-height: 1.5;
    margin-left: 0.25rem;
    max-width: 30.8rem;
}

.group-79-95R {
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.3rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    padding: 4.5rem 3.8rem 11.8rem 3.5rem;
    width: 31rem;
}

.group-35-fJf {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 4.2rem;
    width: 100%;
}

.group-30-Db5 {
    flex-shrink: 0;
    height: 3.5rem;
    margin-right: 1rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.5rem;
}

.ingredient-management-YNT {
    color: #000000;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 1.55rem;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
}

.short-description-short-descriptionshort-description-4Lo {
    align-items: center;
    color: #000000;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 300;
    justify-content: center;
    line-height: 1.5;
    margin-left: 0.4rem;
    max-width: 30.8rem;
}


.auto-group-btlk-7ps {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 24rem;
    margin: 0rem 43.9rem 0rem 0.1rem;
    width: calc(100% - 44rem);
}

.group-81-EuV {
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.3rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    margin-right: 2rem;
    padding: 3.7rem 5.45rem 11.8rem 5.55rem;
    width: 31rem;
}

.group-32-x4o {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin: 0rem 2.15rem 5rem 1.05rem;
    width: calc(100% - 3.2rem);
}

.vector-V4j {
    flex-shrink: 0;
    height: 3.5rem;
    margin-right: 1rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.5rem;
}

.user-management-2qM {
    color: #000000;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 1.55rem;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
}

.short-description-short-descriptionshort-description-mH9 {
    align-items: center;
    color: #000000;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 300;
    justify-content: center;
    line-height: 1.5;
    max-width: 30.8rem;
}

.group-82-Qqu {
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.3rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    padding: 4.4rem 5.45rem 11.8rem 5.55rem;
    width: 31rem;
}

.group-31-jNP {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin: 0rem 1.85rem 4.3rem 1.45rem;
    width: calc(100% - 3.3rem);
}

.vector-4vT {
    flex-shrink: 0;
    height: 3.5rem;
    margin-right: 1rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.5rem;
}

.role-management-pPq {
    color: #000000;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 1.55rem;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
}

.short-description-short-descriptionshort-description-Ld5 {
    align-items: center;
    color: #000000;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 300;
    justify-content: center;
    line-height: 1.5;
    max-width: 30.8rem;
}