@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font: 'Poppins', sans-serif;
    --green: #AAE400;
    --white: #FFFFFF;
    --black: #000000;
    --backColor: #F5F5F5;
    --grey: #777777;
}

html {
    font-family: var(--font);
    font-size: 62.5%;
    box-sizing: border-box;
    
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font);
    font-size: 16px;
    margin: 0;
    color: var(--black);
    background-color: var(--backColor);
    overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
select,
option {
    margin: 0;
}